<%if book.errors.any? %>
  <div class="text-danger border border-danger fs-6">
    <p><%= book.errors.count %>件のエラーがありました</p>
    <% book.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
<%= flash[:create] %>

<h3>新規投稿</h3>
<%= form_with model:book,local:true do |f| %>
  <p>タイトル</p>
  <%= f.text_field:title ,class:"form-control" %>
  <p class="mt-3">概要</p>
  <%= f.text_area:body,class:"form-control" %>
  <%= f.submit "登録" ,class:"btn btn-primary btn-block mt-3" %>
<% end %>